body
{
	padding-left: 200px;
	padding-right: 200px;
	
}
.ja
{
	width: 200px;
	height: 200px;
}
.dane-osobowe
{
	display: grid;
	grid-template-columns: 25% 20% 25%;
	grid-column-gap: 10px;
}
h1, footer
{
	text-align: center; 
}

.doswiadczenie, .wyksztalcenie
{
	display: grid;
	grid-template-columns: 15% 80%;
	grid-row-gap: 10px;
}
.jezyki
{
	display: grid;
	grid-template-columns: 15% 80%;
	grid-row-gap: 10px;
}
.menu
{
  position: relative;
  display: inline-block;
}
.tresc 
{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 56px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.tresc button 
{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.opcja {width: 56px;}
.menu:hover .tresc {display: block;}
button
{
	text-align: center;
	border-width: 0px;
}
button:hover
{
	transition-duration: 0.4s;
	background-color: #3e8e41;
	color: #ffffff;
}
@media only screen and (max-width: 1200px)
{
	body
	{
		padding-left: 50px;
		padding-right: 50px;
	}
}
@media only screen and (max-width: 900px;)
{
	.dane-osobowe
	{
		grid-template-columns: 100%;
	}
}
